@{
    ViewBag.Title = "Home Page";
}


    <br />
    <p>Welcome to the quiz, please enter a name: <input type="text" id="PlayerName" /></p>
    <button type="button" onclick="playerName()">Start Quiz!</button>
    
    <script>
    function playerName()
    {
        
        localStorage.setItem("PlayerName", document.getElementById("PlayerName").value);
        if (localStorage.getItem("PlayerName") == "") {
            alert("Since you didn't enter a name like you were politely asked to your name has been set to 'Jerkface'");
            localStorage.setItem("PlayerName", "Jerkface");
                
        }
        
        window.location.href = '@Url.Action("Quiz", "Home")\?id=1';

    }
    </script >


}