@{
    ViewBag.Title = "Home Page";
}


    <br />
    <p>Welcome to the quiz, please enter your name: <input type="text" name="PlayerName" /></p>
    <button type="button" onclick="playerName()"></button>
    
    <script>
    function playerName()
    {
        localStorage.setItem("PlayerName", document.getElementsByName("PlayerName").value);

        window.location.href = '@Url.Action("Quiz", "Home")\?id=1';

    }
    </script >


}