
@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz</h2>

@{ 
    Final_Group_Project.Models.Question question = Model;
    <p>@question.Title</p>
    <script>
        var paragraph = document.createElement('p');
        var playerName = document.createTextNode(localStorage.getItem("PlayerName"));
        paragraph.appendChild(playerName);

        document.body.appendChild(paragraph);
    </script>
    foreach(string answer in question.answers)
    {
        <p>@answer</p>
    }
}
