
@{
    ViewBag.Title = "Quiz Complete!";
}
<br />
<h2>@ViewBag.Title</h2>
<p id="quiz">@ViewBag.Quiz</p>
<br />
<div id="quizComplete"></div>
<script>
    var questionResults = JSON.parse(localStorage.getItem("questionResults"));
    var numberCorrect = 0;
    //calculates how many questions the user answered correctly so they can recieve a score
    for (i = 0; i < questionResults.length - 1; i++) {
        if (questionResults[i] == "correct") {
            numberCorrect ++
        }
    }

    var p = document.createElement("p");
    var text = document.createTextNode("Congratulations " + localStorage.getItem("PlayerName")+ ", you completed the quiz. You had " + numberCorrect + " correct answers out of "
        + questionResults.length + " questions.")
    p.appendChild(text);
    document.getElementById("quizComplete").appendChild(p);



    function submitScore() {
        var quiz = document.getElementById('quiz').innerText;
        var score = Math.ceil((numberCorrect / questionResults.length) * 100);
        window.location.href = '@Url.Action("Save", "Home")/?quiz=' + quiz + '&playerName=' + localStorage.getItem("PlayerName") + '&quizScore=' + score;
    }
</script>
<br />
<button type="button" onclick="submitScore()">Save Score.</button>
<br />
<br />
